<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Redireccion</servlet-name>
        <servlet-class>Controladores.Redireccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acciones</servlet-name>
        <servlet-class>Controladores.Acciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controladores.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bonos</servlet-name>
        <servlet-class>Controladores.Bonos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Criptomonedas</servlet-name>
        <servlet-class>Controladores.Criptomonedas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Opciones</servlet-name>
        <servlet-class>Controladores.Opciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dolar</servlet-name>
        <servlet-class>Controladores.Cdolar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecargarTabla</servlet-name>
        <servlet-class>Controladores.RecargarTabla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosHistoricos</servlet-name>
        <servlet-class>Controladores.DatosHistoricos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecargarCedears</servlet-name>
        <servlet-class>Controladores.RecargarCedears</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarIndicadores</servlet-name>
        <servlet-class>Controladores.BuscarIndicadores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecargarBonos</servlet-name>
        <servlet-class>Controladores.RecargarBonos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecargarCriptos</servlet-name>
        <servlet-class>Controladores.RecargarCriptos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecargarDolar</servlet-name>
        <servlet-class>Controladores.RecargarDolar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PronosticoGeneral</servlet-name>
        <servlet-class>Controladores.PronosticoGeneral</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Redireccion</servlet-name>
        <url-pattern>/Redireccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acciones</servlet-name>
        <url-pattern>/Acciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bonos</servlet-name>
        <url-pattern>/Bonos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Criptomonedas</servlet-name>
        <url-pattern>/Criptomonedas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Opciones</servlet-name>
        <url-pattern>/Opciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dolar</servlet-name>
        <url-pattern>/Dolar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecargarTabla</servlet-name>
        <url-pattern>/RecargarTabla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosHistoricos</servlet-name>
        <url-pattern>/DatosHistoricos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecargarCedears</servlet-name>
        <url-pattern>/RecargarCedears</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarIndicadores</servlet-name>
        <url-pattern>/BuscarIndicadores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecargarBonos</servlet-name>
        <url-pattern>/RecargarBonos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecargarCriptos</servlet-name>
        <url-pattern>/RecargarCriptos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecargarDolar</servlet-name>
        <url-pattern>/RecargarDolar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PronosticoGeneral</servlet-name>
        <url-pattern>/PronosticoGeneral</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    
</web-app>
